In [1]:
import pandas as pd

# Step 1: Create and Save Both CSV Files
patient_data = {
    'Patient_ID': ['P001', 'P002', 'P003', 'P004'],
    'Name': ['Ali', 'Sara', 'Hamza', 'Ayesha'],
    'Age': [45, 30, 50, 28],
    'Department': ['Cardiology', 'Neurology', 'Orthopedics', 'Cardiology']
}

patient_df = pd.DataFrame(patient_data)
patient_df.to_csv('patient_info.csv', index=False)

billing_data = {
    'Patient_ID': ['P001', 'P002', 'P003', 'P004'],
    'Billing_Amount': [15000, 20000, 18000, 17000]
}

billing_df = pd.DataFrame(billing_data)
billing_df.to_csv('billing_info.csv', index=False)
print("CSV files created successfully.")

CSV files created successfully.

In [4]:
# Step 2: Read Both CSV Files
patient_df = pd.read_csv('patient_info.csv')
billing_df = pd.read_csv('billing_info.csv')

In [5]:
print("Patient Info DataFrame:")
patient_df

Patient Info DataFrame:

  Patient_ID    Name  Age   Department
0       P001     Ali   45   Cardiology
1       P002    Sara   30    Neurology
2       P003   Hamza   50  Orthopedics
3       P004  Ayesha   28   Cardiology

In [6]:
print("Billing Info DataFrame:")
billing_df

Billing Info DataFrame:

  Patient_ID  Billing_Amount
0       P001           15000
1       P002           20000
2       P003           18000
3       P004           17000

In [7]:
# Step 3: Merge Both DataFrames
merged_df = pd.merge(patient_df, billing_df, on='Patient_ID', how='inner')
print("Merged DataFrame:")
merged_df

Merged DataFrame:

  Patient_ID    Name  Age   Department  Billing_Amount
0       P001     Ali   45   Cardiology           15000
1       P002    Sara   30    Neurology           20000
2       P003   Hamza   50  Orthopedics           18000
3       P004  Ayesha   28   Cardiology           17000

In [8]:
# Step 4: GroupBy - Total Billing by Department
billing_by_department = merged_df.groupby('Department')['Billing_Amount'].sum()
print("Total Billing by Department:")
print(billing_by_department)

Total Billing by Department:
Department
Cardiology     32000
Neurology      20000
Orthopedics    18000
Name: Billing_Amount, dtype: int64

In [9]:
# Step 5: GroupBy - Average Billing by Department
avg_billing_by_department = merged_df.groupby('Department')['Billing_Amount'].mean()
print("Average Billing by Department:")
print(avg_billing_by_department)

Average Billing by Department:
Department
Cardiology     16000.0
Neurology      20000.0
Orthopedics    18000.0
Name: Billing_Amount, dtype: float64

In [11]:
# Step 6: Final Cleaned Data Export
merged_df.to_csv('hospital_billing_summary.csv', index=False)
print("hospital_billing_summary.csv file created successfully!")

hospital_billing_summary.csv file created successfully!